.intro_heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    font-variation-settings: "ROND" 0;
    font-size: 4em;
}

.profile_img {
    height: 100%;
    width: 70%;
    object-fit: contain;
}