
.letter {
    border-radius: 10%;
    position: fixed;
    min-height: 40px;
    min-width: 40px;
    animation-name: slide-in;
    animation-iteration-count: infinite;
    z-index:-1000;
    font-size: 50px;
    text-shadow: 5px 0 5px black;
    bottom: 10vh;
}


@keyframes slide-in {
    from {
        transform: translateY(10vh) rotate(0deg);
    }
    to {
        transform: translateY(-200vh) rotate(90deg);
    }
}
