
.letter {
    background-color: chartreuse;
    border-radius: 10%;
    position: fixed;
    min-height: 40px;
    min-width: 40px;
    animation-name: slide-in;
    animation-iteration-count: infinite;
    z-index:-1;
}


@keyframes slide-in {
    from {
        transform: translateY(-80px) rotate(0deg);
    }
    to {
        transform: translateY(-200vh) rotate(90deg);
    }
}
