.project {
    border-radius: 10px;
    border: solid 2px;
    margin: 1em;
    padding: 10px;
}

.project_card_img {
    margin-top: 5px;
    max-width: 80%;
    max-height: 300px;
}

.project_link_img {
    float: right;
    width: 1.5em;
}